/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Num_layer {
            bindings = <&mo 1>;
            key-positions = <15 16>;
        };

        Fn_Layer {
            bindings = <&mo 2>;
            key-positions = <1 2>;
        };

        Period {
            bindings = <&kp PERIOD>;
            key-positions = <22 21>;
            timeout-ms = <35>;
        };

        Commna {
            bindings = <&kp COMMA>;
            key-positions = <21 20>;
            timeout-ms = <35>;
        };

        Bluetooth_Layer {
            bindings = <&mo 3>;
            key-positions = <16 15 2 1>;
        };

        Colon {
            bindings = <&kp COLON>;
            key-positions = <21 22 19>;
            timeout-ms = <35>;
        };

        SemiColon {
            bindings = <&kp SEMICOLON>;
            key-positions = <21 19 20>;
            timeout-ms = <35>;
        };

        Apostrophe {
            bindings = <&kp SQT>;
            key-positions = <8 21>;
            timeout-ms = <35>;
        };

        Quote {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <21 7>;
            timeout-ms = <35>;
        };

        Equal {
            bindings = <&kp EQUAL>;
            key-positions = <7 6>;
            timeout-ms = <35>;
        };

        Underscore {
            bindings = <&kp UNDERSCORE>;
            key-positions = <31 30>;
            timeout-ms = <35>;
        };

        Minus {
            bindings = <&kp MINUS>;
            key-positions = <19 18>;
            timeout-ms = <35>;
        };

        Plus {
            bindings = <&kp PLUS>;
            key-positions = <18 21>;
            timeout-ms = <35>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <21 20 22>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <20 19>;
            timeout-ms = <35>;
        };

        FwdSlash {
            bindings = <&kp SLASH>;
            key-positions = <31 20>;
            timeout-ms = <35>;
        };

        BackSlash {
            bindings = <&kp BACKSLASH>;
            key-positions = <20 33 7>;
        };

        Umbrella {
            bindings = <&kp CARET>;
            key-positions = <19 8 21>;
            timeout-ms = <35>;
        };

        Smaller {
            bindings = <&kp LESS_THAN>;
            key-positions = <19 8>;
            timeout-ms = <35>;
        };

        Larger {
            bindings = <&kp GREATER_THAN>;
            key-positions = <7 20>;
            timeout-ms = <35>;
        };

        VerticalLink {
            bindings = <&kp PIPE>;
            key-positions = <8 19 40>;
        };

        Gay {
            bindings = <&kp TILDE>;
            key-positions = <19 10>;
        };

        Grave {
            bindings = <&kp GRAVE>;
            key-positions = <6 19>;
        };

        Percent {
            bindings = <&kp PERCENT>;
            key-positions = <7 33>;
        };

        Exclamation {
            bindings = <&kp EXCLAMATION>;
            key-positions = <7 8 21>;
        };

        QuestionMark {
            bindings = <&kp QUESTION>;
            key-positions = <19 20 9>;
        };

        Money {
            bindings = <&kp DOLLAR>;
            key-positions = <31 32 21>;
        };

        At {
            bindings = <&kp AT_SIGN>;
            key-positions = <7 20 21>;
        };

        Asterisk {
            bindings = <&kp ASTERISK>;
            key-positions = <30 31 32>;
        };

        And-Ampersand {
            bindings = <&kp AMPERSAND>;
            key-positions = <20 18>;
        };

        Hash {
            bindings = <&kp HASH>;
            key-positions = <6 7 8>;
        };

        Home {
            bindings = <&kp HOME>;
            key-positions = <7 9 8>;
        };

        Insert {
            bindings = <&kp INSERT>;
            key-positions = <41 40>;
        };

        Prev {
            bindings = <&kp C_PREVIOUS>;
            key-positions = <10 11>;
        };

        Next {
            bindings = <&kp C_NEXT>;
            key-positions = <23 22>;
        };

        Stop {
            bindings = <&kp C_STOP>;
            key-positions = <35 34>;
        };

        Mute {
            bindings = <&kp K_MUTE>;
            key-positions = <35 34 0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp LEFT_CONTROL  &kp Q  &kp W  &kp F       &kp P     &kp B             &kp J      &kp L      &kp U       &kp Y     &kp SEMICOLON  &kp BACKSPACE
&kp LEFT_ALT      &kp A  &kp R  &kp S       &kp T     &kp G             &kp M      &kp N      &kp E       &kp I     &kp O          &kp SQT
&kp LEFT_GUI      &kp Z  &kp X  &kp C       &kp D     &kp V             &kp K      &kp H      &kp LEFT    &kp DOWN  &kp UP_ARROW   &kp RIGHT
                                &kp ESCAPE  &kp CAPS  &kp LEFT_SHIFT    &kp ENTER  &kp SPACE  &kp DELETE
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N1  &kp N2  &kp N3  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N4  &kp N5  &kp N6  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N7  &kp N8  &kp N9  &trans  &trans
                        &trans  &trans  &trans    &kp N0  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp F1  &kp F2   &kp F3   &kp F4   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp F5  &kp F6   &kp F7   &kp F8   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp F9  &kp F10  &kp F11  &kp F12  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans        &bt BT_CLR    &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans        &trans        &trans        &trans        &trans        &trans
                        &trans  &trans  &trans    &trans        &trans        &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        hell {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
