/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        homeRowMod: homeRowMod {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROWMOD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <175>;
        };

        hold_tapForLayer: hold_tapForLayer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAPFORLAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            quick-tap-ms = <183>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp LEFT_ALT  &kp Q  &kp W  &kp F       &kp P     &kp B             &kp J      &kp L          &kp U       &kp Y       &kp SEMICOLON  &none
&kp LCTRL     &kp A  &kp R  &kp S       &kp T     &kp G             &kp M      &kp N          &kp E       &kp I       &kp O          &kp SQT
&kp LEFT_GUI  &kp Z  &kp X  &kp C       &kp D     &kp V             &kp K      &kp H          &kp COMMA   &kp PERIOD  &kp SLASH      &none
                            &kp ESCAPE  &kp CAPS  &kp LEFT_SHIFT    &kp SPACE  &kp BACKSPACE  &kp DELETE
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N1  &kp N2  &kp N3  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N4  &kp N5  &kp N6  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N7  &kp N8  &kp N9  &trans  &trans
                        &trans  &trans  &kp N0    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        hell {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
